<!DOCTYPE html>
<html lang="en">
<head>
    <title>Irrigation monitor</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/js/bootstrap.bundle.min.js"></script>
    {% block styles %}
    <link href="{{ url_for('static', filename='progress-bar.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='battery.css') }}" rel="stylesheet">
    {% endblock %}
    <script type="text/javascript">
        $(function () {
            $(".progress").each(function () {
                var value = $(this).attr('data-value');
                var left = $(this).find('.progress-left .progress-bar');
                var right = $(this).find('.progress-right .progress-bar');

                if (value > 0) {
                    if (value <= 50) {
                        right.css('transform', 'rotate(' + percentageToDegrees(value) + 'deg)')
                    } else {
                        right.css('transform', 'rotate(180deg)')
                        left.css('transform', 'rotate(' + percentageToDegrees(value - 50) + 'deg)')
                    }
                }

            })

            function percentageToDegrees(percentage) {
                return percentage / 100 * 360
            }
        });
    </script>
    <script>
    function battery(charge) {
            var index = 0;
            $(".battery .bar").each(function () {
                var power = Math.round(charge / 10);
                if (index != power) {
                    $(this).addClass("active");
                    index++;
                } else {
                    $(this).removeClass("active");
                }
            });
        }

        $(".battery .bar").click(function () {
            battery(parseInt($(this).data("power")));
        });

        battery(67.15); // (67%) Any number 100 or lower will work, Including decimals.
    </script>

</head>
<body>

<div class="container-fluid">
        <h2 style="text-align:center;">Irrigation Monitoring & Control</h2>
        <ul class="nav nav-tabs">
            <li class="nav-item">
                <a class="nav-link active" data-toggle="tab" href="#home">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#irrigation">Irrigation</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#plants">Plants</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#system">System</a>
            </li>
        </ul>

        <div class="tab-content">
            <div id="home" class="tab-pane fade in active">
                <br>
                <p style="text-align:center;"><font size="4">System messages are shown in this space</font></p>
                <div class="alert alert-success">
                    <strong>Success!</strong> This alert box could indicate a successful or positive action.
                </div>
                <div class="alert alert-info">
                    <strong>Info!</strong> This alert box could indicate a neutral informative change or action.
                </div>
                <div class="alert alert-warning">
                    <strong>Warning!</strong> This alert box could indicate a warning that might need attention.
                </div>
                <div class="alert alert-danger">
                    <strong>Danger!</strong> This alert box could indicate a dangerous or potentially negative action.
                </div>
            </div>
            <div id="irrigation" class="tab-pane fade">
                <br>
                <div class="card-deck">
                    <div class="card bg-light">
                        <div class="card-body">
                            <h5 class="card-title">Sector 0</h5>
                            <p class="card-text">
                                <div class="row mt-4">
                                    <div class="col-6 text-left">
                                        <div class="h6 mb-0">Plants</div><span class="small text-gray">{plants string}</span>
                                    </div>
                                    <div class="col-6 text-center">
                                        <div class="spinner-border text-primary spinner-border-lg"></div><br>
                                        Watering...
                                    </div>
                                </div>
                                <div class="row mt-4">
                                    <div class="col-12 text-left">
                                        <div class="h6 mb-0">Errors</div><span class="small text-gray">{errors string}</span>
                                    </div>
                                </div>
                            </p>
                        </div>
                        <div class="card-footer">Updated: 10s ago</div>
                    </div>
                    <div class="card bg-light">
                        <div class="card-body">
                            <h5 class="card-title">Sector 1</h5>
                            <p class="card-text">
                                <div class="row mt-4">
                                    <div class="col-6 text-left">
                                        <div class="h6 mb-0">Plants</div><span class="small text-gray">{plants string}</span>
                                    </div>
                                    <div class="col-6 text-center">
                                        <div class="spinner-grow text-primary spinner-grow-lg"></div><br>
                                        Waiting...
                                    </div>
                                </div>
                                <div class="row mt-4">
                                    <div class="col-12 text-left">
                                        <div class="h6 mb-0">Errors</div><span class="small text-gray">{errors string}</span>
                                    </div>
                                </div>
                            </p>
                        </div>
                        <div class="card-footer">Updated: 10s ago</div>
                    </div>
                    <div class="card bg-light">
                        <div class="card-body">
                            <h5 class="card-title">Sector 2</h5>
                            <p class="card-text">
                                <div class="row mt-4">
                                    <div class="col-6 text-left">
                                        <div class="h6 mb-0">Plants</div><span class="small text-gray">{plants string}</span>
                                    </div>
                                    <div class="col-6 text-center">
                                        <div class="spinner-grow text-primary spinner-grow-lg"></div><br>
                                        Waiting...
                                    </div>
                                </div>
                                <div class="row mt-4">
                                    <div class="col-12 text-left">
                                        <div class="h6 mb-0">Errors</div><span class="small text-gray">{errors string}</span>
                                    </div>
                                </div>
                            </p>
                        </div>
                        <div class="card-footer">Updated: 10s ago</div>
                    </div>
                    <div class="card bg-light">
                        <div class="card-body">
                            <h5 class="card-title">Sector 3</h5>
                            <p class="card-text">
                                <div class="row mt-4">
                                    <div class="col-6 text-left">
                                        <div class="h6 mb-0">Plants</div><span class="small text-gray">{plants string}</span>
                                    </div>
                                    <div class="col-6 text-center">
                                        <div class="spinner-grow text-primary spinner-grow-lg"></div><br>
                                        Waiting...
                                    </div>
                                </div>
                                <div class="row mt-4">
                                    <div class="col-12 text-left">
                                        <div class="h6 mb-0">Errors</div><span class="small text-gray">{errors string}</span>
                                    </div>
                                </div>
                            </p>
                        </div>
                        <div class="card-footer">Updated: 10s ago</div>
                    </div>
                </div>
                <br />
                <div class="card-columns">
                    <div class="card bg-light">
                        <div class="card-body">
                            <h5 class="card-title">Watertank 0</h5>
                            <p class="card-text">
                                <div class="row mt-4">
                                    <div class="col-12">
                                        <!--Progress bar-->
                                        <div class="progress mx-auto" data-value='10'>
                                            <span class="progress-left">
                                                <span class="progress-bar border-primary"></span>
                                            </span>
                                            <span class="progress-right">
                                                <span class="progress-bar border-primary"></span>
                                            </span>
                                            <div class="progress-value w-100 h-100 rounded-circle d-flex align-items-center justify-content-center">
                                                <div class="h2 font-weight-bold">10<sup class="small">%</sup></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- Demo info -->
                                <div class="row text-center mt-4">
                                    <div class="col-12">
                                        <div class="h6 mb-0">Water level</div>
                                    </div>
                                </div>
                                <div class="row mt-4">
                                        <div class="col-12 text-left">
                                            <div class="h6 mb-0">Errors</div><span class="small text-gray">{errors string}</span>
                                        </div>
                                </div>
                            </p>
                        </div>
                        <div class="card-footer">Updated: 10s ago</div>
                    </div>
                </div>
            </div>
            <div id="plants" class="tab-pane fade">
                <br>
                <div class="container">
                    <div class="card-columns">
                        <div class="card bg-light">
                            <div class="card-body">
                                <h5 class="card-title">Channel 1</h5>
                                <p class="card-text">
                                    <!--Progress bar-->
                                    <div class="progress mx-auto" data-value='80'>
                                        <span class="progress-left">
                                            <span class="progress-bar border-primary"></span>
                                        </span>
                                        <span class="progress-right">
                                            <span class="progress-bar border-primary"></span>
                                        </span>
                                        <div class="progress-value w-100 h-100 rounded-circle d-flex align-items-center justify-content-center">
                                            <div class="h2 font-weight-bold">80<sup class="small">%</sup></div>
                                        </div>
                                    </div>
                                    <!-- Demo info -->
                                    <div class="row text-center mt-4">
                                        <div class="col-6 border-right">
                                            <div class="h6 mb-0">Plant</div><span class="small text-gray">Pelargonia</span>
                                        </div>
                                        <div class="col-6">
                                            <div class="h6 mb-0">Soil moisture</div><span class="small text-gray">60%</span>
                                        </div>
                                    </div>
                                </p>
                            </div>
                            <div class="card-footer">Updated: 10s ago</div>
                        </div>
                        <div class="card bg-light">
                            <div class="card-body">
                                <h5 class="card-title">Channel 2</h5>
                                <p class="card-text">
                                    <!--Progress bar-->
                                    <div class="progress mx-auto" data-value='30'>
                                        <span class="progress-left">
                                            <span class="progress-bar border-primary"></span>
                                        </span>
                                        <span class="progress-right">
                                            <span class="progress-bar border-primary"></span>
                                        </span>
                                        <div class="progress-value w-100 h-100 rounded-circle d-flex align-items-center justify-content-center">
                                            <div class="h2 font-weight-bold">30<sup class="small">%</sup></div>
                                        </div>
                                    </div>
                                    <!-- Demo info -->
                                    <div class="row text-center mt-4">
                                        <div class="col-6 border-right">
                                            <div class="h6 mb-0">Plant</div><span class="small text-gray">Pelargonia</span>
                                        </div>
                                        <div class="col-6">
                                            <div class="h6 mb-0">Soil moisture</div><span class="small text-gray">60%</span>
                                        </div>
                                    </div>
                                </p>
                            </div>
                            <div class="card-footer">Updated: 10s ago</div>
                        </div>
                        <div class="card bg-light">
                            <div class="card-body">
                                <h5 class="card-title">Channel 3</h5>
                                <p class="card-text">
                                    <!--Progress bar-->
                                    <div class="progress mx-auto" data-value='30'>
                                        <span class="progress-left">
                                            <span class="progress-bar border-primary"></span>
                                        </span>
                                        <span class="progress-right">
                                            <span class="progress-bar border-primary"></span>
                                        </span>
                                        <div class="progress-value w-100 h-100 rounded-circle d-flex align-items-center justify-content-center">
                                            <div class="h2 font-weight-bold">30<sup class="small">%</sup></div>
                                        </div>
                                    </div>
                                    <!-- Demo info -->
                                    <div class="row text-center mt-4">
                                        <div class="col-6 border-right">
                                            <div class="h6 mb-0">Plant</div><span class="small text-gray">Pelargonia</span>
                                        </div>
                                        <div class="col-6">
                                            <div class="h6 mb-0">Soil moisture</div><span class="small text-gray">60%</span>
                                        </div>
                                    </div>
                                </p>
                            </div>
                            <div class="card-footer">Updated: 10s ago</div>
                        </div>
                        <div class="card bg-light">
                            <div class="card-body">
                                <h5 class="card-title">Channel 4</h5>
                                <p class="card-text">
                                    <!--Progress bar-->
                                    <div class="progress mx-auto" data-value='30'>
                                        <span class="progress-left">
                                            <span class="progress-bar border-primary"></span>
                                        </span>
                                        <span class="progress-right">
                                            <span class="progress-bar border-primary"></span>
                                        </span>
                                        <div class="progress-value w-100 h-100 rounded-circle d-flex align-items-center justify-content-center">
                                            <div class="h2 font-weight-bold">30<sup class="small">%</sup></div>
                                        </div>
                                    </div>
                                    <!-- Demo info -->
                                    <div class="row text-center mt-4">
                                        <div class="col-6 border-right">
                                            <div class="h6 mb-0">Plant</div><span class="small text-gray">Pelargonia</span>
                                        </div>
                                        <div class="col-6">
                                            <div class="h6 mb-0">Soil moisture</div><span class="small text-gray">60%</span>
                                        </div>
                                    </div>
                                </p>
                            </div>
                            <div class="card-footer">Updated: 10s ago</div>
                        </div>
                        <div class="card bg-light">
                            <div class="card-body">
                                <h5 class="card-title">Channel 5</h5>
                                <p class="card-text">
                                    <!--Progress bar-->
                                    <div class="progress mx-auto" data-value='80'>
                                        <span class="progress-left">
                                            <span class="progress-bar border-primary"></span>
                                        </span>
                                        <span class="progress-right">
                                            <span class="progress-bar border-primary"></span>
                                        </span>
                                        <div class="progress-value w-100 h-100 rounded-circle d-flex align-items-center justify-content-center">
                                            <div class="h2 font-weight-bold">80<sup class="small">%</sup></div>
                                        </div>
                                    </div>
                                    <!-- Demo info -->
                                    <div class="row text-center mt-4">
                                        <div class="col-6 border-right">
                                            <div class="h6 mb-0">Plant</div><span class="small text-gray">Pelargonia</span>
                                        </div>
                                        <div class="col-6">
                                            <div class="h6 mb-0">Soil moisture</div><span class="small text-gray">60%</span>
                                        </div>
                                    </div>
                                </p>
                            </div>
                            <div class="card-footer">Updated: 10s ago</div>
                        </div>
                        <div class="card bg-light">
                            <div class="card-body">
                                <h5 class="card-title">Channel 6</h5>
                                <p class="card-text">
                                    <!--Progress bar-->
                                    <div class="progress mx-auto" data-value='80'>
                                        <span class="progress-left">
                                            <span class="progress-bar border-primary"></span>
                                        </span>
                                        <span class="progress-right">
                                            <span class="progress-bar border-primary"></span>
                                        </span>
                                        <div class="progress-value w-100 h-100 rounded-circle d-flex align-items-center justify-content-center">
                                            <div class="h2 font-weight-bold">50<sup class="small">%</sup></div>
                                        </div>
                                    </div>
                                    <!-- Demo info -->
                                    <div class="row text-center mt-4">
                                        <div class="col-6 border-right">
                                            <div class="h6 mb-0">Plant</div><span class="small text-gray">Pelargonia</span>
                                        </div>
                                        <div class="col-6">
                                            <div class="h6 mb-0">Soil moisture</div><span class="small text-gray">60%</span>
                                        </div>
                                    </div>
                                </p>
                            </div>
                            <div class="card-footer">Updated: 10s ago</div>
                        </div>
                        <div class="card bg-light">
                            <div class="card-body">
                                <h5 class="card-title">Channel 7</h5>
                                <p class="card-text">
                                    <!--Progress bar-->
                                    <div class="progress mx-auto" data-value='80'>
                                        <span class="progress-left">
                                            <span class="progress-bar border-primary"></span>
                                        </span>
                                        <span class="progress-right">
                                            <span class="progress-bar border-primary"></span>
                                        </span>
                                        <div class="progress-value w-100 h-100 rounded-circle d-flex align-items-center justify-content-center">
                                            <div class="h2 font-weight-bold">80<sup class="small">%</sup></div>
                                        </div>
                                    </div>
                                    <!-- Demo info -->
                                    <div class="row text-center mt-4">
                                        <div class="col-6 border-right">
                                            <div class="h6 mb-0">Plant</div><span class="small text-gray">Pelargonia</span>
                                        </div>
                                        <div class="col-6">
                                            <div class="h6 mb-0">Soil moisture</div><span class="small text-gray">60%</span>
                                        </div>
                                    </div>
                                </p>
                            </div>
                            <div class="card-footer">Updated: 10s ago</div>
                        </div>
                        <div class="card bg-light">
                            <div class="card-body">
                                <h5 class="card-title">Channel 8</h5>
                                <p class="card-text">
                                    <!--Progress bar-->
                                    <div class="progress mx-auto" data-value='10'>
                                        <span class="progress-left">
                                            <span class="progress-bar border-primary"></span>
                                        </span>
                                        <span class="progress-right">
                                            <span class="progress-bar border-primary"></span>
                                        </span>
                                        <div class="progress-value w-100 h-100 rounded-circle d-flex align-items-center justify-content-center">
                                            <div class="h2 font-weight-bold">10<sup class="small">%</sup></div>
                                        </div>
                                    </div>
                                    <!-- Demo info -->
                                    <div class="row text-center mt-4">
                                        <div class="col-6 border-right">
                                            <div class="h6 mb-0">Plant</div><span class="small text-gray">Pelargonia</span>
                                        </div>
                                        <div class="col-6">
                                            <div class="h6 mb-0">Soil moisture</div><span class="small text-gray">60%</span>
                                        </div>
                                    </div>
                                </p>
                            </div>
                            <div class="card-footer">Updated: 10s ago</div>
                        </div>
                    </div>
                </div>

            </div>
            <div id="system" class="tab-pane fade">
                <br>
                <div class="container">
                    <div class="card-columns">
                        <div class="card bg-light">
                            <div class="card-body">
                                <h5 class="card-title">Battery 1</h5>
                                <p class="card-text">
                                    <div class="row text-center mt-4">
                                        <div class="h6 mb-0">State</div><span class="small text-gray">Charging</span>
                                        <div class="h6 mb-0">Errors</div><span class="small text-gray">{errors string}</span>
                                    </div>
                                    <div class="row text-center mt-4">
                                        <div class='battery'>
                                            <div class='bar' data-power='10'></div>
                                            <div class='bar' data-power='20'></div>
                                            <div class='bar' data-power='30'></div>
                                            <div class='bar' data-power='40'></div>
                                            <div class='bar' data-power='50'></div>
                                            <div class='bar' data-power='60'></div>
                                            <div class='bar' data-power='70'></div>
                                            <div class='bar' data-power='80'></div>
                                            <div class='bar' data-power='90'></div>
                                            <div class='bar' data-power='100'></div>
                                        </div>
                                    </div>
                                </p>
                            </div>
                            <div class="card-footer">Updated: 10s ago</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

</body>
</html>
