<!DOCTYPE html>
<html lang="en">
<head>
    <title>Irrigation monitor</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>

<div class="container-fluid">
    <h2 style="text-align:center;">Irrigation Monitoring & Control</h2>
    <ul class="nav nav-tabs">
        <li class="active"><a data-toggle="tab" href="#home"><font size="4">Home</font></a></li>
        <li><a data-toggle="tab" href="#irrigation"><font size="4">Irrigation</font></a></li>
        <li><a data-toggle="tab" href="#plants"><font size="4">Plants</font></a></li>
        <li><a data-toggle="tab" href="#system"><font size="4">System</font></a></li>
    </ul>

    <div class="tab-content">
        <div id="home" class="tab-pane fade in active" ><br>
            <p style="text-align:center;"><font size="4">System messages are shown in this space</font></p>
            <div class="alert alert-success">
                <strong>Success!</strong> This alert box could indicate a successful or positive action.
            </div>
            <div class="alert alert-info">
                <strong>Info!</strong> This alert box could indicate a neutral informative change or action.
            </div>
            <div class="alert alert-warning">
                <strong>Warning!</strong> This alert box could indicate a warning that might need attention.
            </div>
            <div class="alert alert-danger">
                <strong>Danger!</strong> This alert box could indicate a dangerous or potentially negative action.
            </div>
        </div>
        <div id="irrigation" class="tab-pane fade">
            <br />
            <div class="panel-group">
                <div class="panel panel-info">
                    <div class="panel-heading">Sector 0</div>
                    <div class="panel-body">
                        Plants:<br>
                        Watering: Active<br>
                        Errors: <br>
                        Last update:
                    </div>
                </div>
                <div class="panel panel-info">
                    <div class="panel-heading">Sector 1</div>
                    <div class="panel-body">
                        Plants:<br>
                        Watering: Active<br>
                        Errors: <br>
                        Last update:
                    </div>
                </div>
                <div class="panel panel-info">
                    <div class="panel-heading">Sector 2</div>
                    <div class="panel-body">
                        Plants:<br>
                        Watering: Active<br>
                        Errors: <br>
                        Last update:
                    </div>
                </div>
                <div class="panel panel-info">
                    <div class="panel-heading">Sector 3</div>
                    <div class="panel-body">
                        Plants:<br>
                        Watering: Active<br>
                        Errors: <br>
                        Last update:
                    </div>
                </div>
            </div>
            <div class="panel-group">
                <div class="panel panel-info">
                    <div class="panel-heading">Watertank</div>
                    <div class="panel-body">
                        Water level:<br>
                        Water temperature:<br>
                        Last update:
                    </div>
                </div>
            </div>
            </div>
            <div id="plants" class="tab-pane fade">
                <br>
                <div class="container">
                    <div class="panel-group">
                        <div class="panel panel-info">
                            <div class="panel-heading">Channel 1</div>
                            <div class="panel-body">
                                Name:<br>
                                Soil moisture:<br>
                                Last update:
                            </div>
                        </div>
                        <div class="panel panel-info">
                            <div class="panel-heading">Channel 2</div>
                            <div class="panel-body">
                                Name:<br>
                                Soil moisture:<br>
                                Last update:
                            </div>
                        </div>
                        <div class="panel panel-info">
                            <div class="panel-heading">Channel 3</div>
                            <div class="panel-body">
                                Name:<br>
                                Soil moisture:<br>
                                Last update:
                            </div>
                        </div>
                        <div class="panel panel-info">
                            <div class="panel-heading">Channel 4</div>
                            <div class="panel-body">
                                Name:<br>
                                Soil moisture:<br>
                                Last update:
                            </div>
                        </div>
                        <div class="panel panel-info">
                            <div class="panel-heading">Channel 5</div>
                            <div class="panel-body">
                                Name:<br>
                                Soil moisture:<br>
                                Last update:
                            </div>
                        </div>
                        <div class="panel panel-info">
                            <div class="panel-heading">Channel 6</div>
                            <div class="panel-body">
                                Name:<br>
                                Soil moisture:<br>
                                Last update:
                            </div>
                        </div>
                        <div class="panel panel-info">
                            <div class="panel-heading">Channel 7</div>
                            <div class="panel-body">
                                Name:<br>
                                Soil moisture:<br>
                                Last update:
                            </div>
                        </div>
                        <div class="panel panel-info">
                            <div class="panel-heading">Channel 8</div>
                            <div class="panel-body">
                                Name:<br>
                                Last update:<br>
                                <div class="progress">
                                    <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100" style="width:30%">
                                        Soil moisture 30%
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>

            </div>
            <div id="system" class="tab-pane fade"><br>
                <p style="text-align:center;"><font size="4">You can check system status here</font></p>
                <div class="panel-group">
                    <div class="panel panel-info">
                        <div class="panel-heading">Battery</div>
                        <div class="panel-body">
                            State:<br>
                            Errors:<br>
                            Last update:
                        </div>
                        <div class="progress">
                            <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100" style="width:10%">
                                Charged 10%
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

</body>
</html>
